

  <% if cocktail.photo.attached? %>
    <%= cl_image_tag cocktail.photo.key,
        alt: "photo du cocktail #{cocktail.name}",
        width: 300,
        crop: :fill %>
  <% end %>
  <div style="text-align: center;">
    <p><i class="fas fa-caret-right"></i><%= cocktail.name %></p>

    <%= link_to cocktail_path(cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
    <% end %>
  </div>

