<div class="container-home">
  <div class="content-home">
    <div>

      <h1>
        <span>My cocktail's</span>
        <span>Recipies</span>
      </h1>

      <div class="adding-cocktail button-home">
        <%= link_to "Add your own cocktail", new_cocktail_path %>
      </div>
      <div class="list-cocktail button-home">
        <%= link_to "See all the cocktails", cocktails_path  %>
      </div>
    </div>

  </div>
</div>


